body{
  background:url(https://images.wallpaperscraft.com/image/single/cinema_chairs_dark_159821_1280x720.jpg) no-repeat;background-attachment:fixed;background-size:cover;
}
.App {
  /* color: crimson; */
  font-family: sans-serif;
  text-align: center;
}

.Good{
  color:#fff;
  display:inline-block;
  font-size: 20px;
  font-family: sans-serif;
  padding: 40px 4%;
  text-align: right;
  width: 42%;
}
.Good:nth-child(2){
  text-align: left;
}
.Good2{
  font-size: 20px;
  border-radius: 10%;
  font-family: sans-serif;
  margin: 0 0 0 10px;
}
.come {
  font-family: "Pacifico", cursive;
  }

  .come h1{
    color: #fff;
    }
.come h4{
  color:#fff;
  margin: 0 auto;
  max-width: 500px;
}

.user-profile-pic {
  height: 300px;
  width: 300px;
  /* zoo in */
  object-fit: cover;
  border-radius: 50%;
}
.star-rating {
  border:solid 1px #ccc;
  font-size:1.5em;
  height:1.5em;
  padding:0 .2em;
  text-align:center;
  width:5em;
  margin: 0 auto;
}

.star-rating input {
  display:none;}

.star-rating label {
  color:#ccc;
  cursor:pointer;
  float:right;
  line-height: 30px;
  margin:0 .08em;
  
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

